# Ignore node_modules in both backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore logs
*.log

# Ignore environment files
*.env

# Ignore build artifacts
backend/dist/
frontend/build/

# Ignore assets
frontend/src/assets/


/Notes
